.header {
  margin: 28px auto 0 auto;
  width: calc(100% - 48px*2);
  max-height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px*2);
  }
}
    
@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - 16px*2);
    margin-top: 16px;
  }   
}